html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100%;
    background: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
